{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Create New Post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
        <a href="{% url 'feed' %}" class="btn btn-outline">Cancel</a>
    </form>
</div>
{% endblock %}