{% extends 'base.html' %}

{% block content %}
    <h1>Момент ✨</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Отправить</button>
        <a href="{% url 'set_name' %}" class="btn btn-secondary">Сменить имя</a>
    </form>

    <hr>

    <h2>Свежие посты</h2>
    {% for post in posts %}
        <div style="margin-bottom: 1em; padding: 10px; border: 1px solid #ddd; border-radius: 6px;">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Image" style="max-width: 100%; height: auto;">
            {% endif %}

            {% if post.video %}
                <video controls style="max-width: 100%; height: auto;">
                    <source src="{{ post.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}

            {% if post.content %}
                <p>{{ post.content }}</p>
            {% endif %}

            {% if post.hashtags %}
                <p><strong>Хештеги:</strong> {{ post.hashtags }}</p>
            {% endif %}

            <small>
                Posted on: {{ post.created_at }}<br>
                {% if post.author and post.author.username %}
                    By: <a href="{% url 'view_profile_by_username' post.author.username %}">{{ post.author.username }}</a>
                {% else %}
                    By: <em>Anonymous</em>
                {% endif %}

            </small>
        </div>
    {% empty %}
        <p>Пока нет постов. Будь первым!</p>
    {% endfor %}
{% endblock %}
